/* purgecss start ignore */
@tailwind base;
body {
  @apply bg-gray-100;
}
h1 {
  @apply text-3xl font-thin leading-loose;
}
h2 {
  @apply text-2xl font-thin leading-loose;
}
h3 {
  @apply text-xl font-thin leading-loose;

}
h4 {
  @apply font-semibold;
}
ul {
  @apply list-disc;
  @apply list-inside;
}
p {
  @apply mb-1
}
code {
  @apply block p-2 bg-gray-100 border-gray-900;
}
main a {
  @apply text-blue-600 underline;
}

th {
  @apply bg-blue-100 ;
}
tr:hover,
tr:nth-child(even):hover {
  @apply bg-gray-300;
}
tr:nth-child(even) {
  @apply bg-gray-100;
}

td, th {
  @apply border px-4 py-2 text-left;
}


.tight td, 
.tight th {
    @apply border px-1 py-1 text-left;
}

  label {
  @apply block text-gray-700 text-sm font-bold mr-2 mt-1;
}
input[type=text],
input[type=search],
input[type=email],
input[type=password],
input[type=url],
textarea  {
  @apply shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight mb-2 ;
}

// Definition Lists
dl {
  @apply mt-4;
}
dt {
  @apply text-right font-bold  max-w-xs;
}
dd {
  @apply  ml-5 mb-1 max-w-xs ;
}

button {
  @apply bg-gray-500 text-white font-bold py-2 px-4 mx-2 rounded;
}
.btn-primary {
  @apply bg-blue-500 text-white font-bold py-2 px-4 mx-2 rounded;
}
.btn-secondary {
  @apply bg-gray-500 text-white font-bold py-2 px-4 mx-2 rounded;
}
.btn-primary:hover {
  @apply bg-blue-700;
}
.panel-error {
  @apply bg-red-700 text-white font-bold py-2 px-4 rounded;
}

.panel {
  @apply max-w-full px-2 py-2 my-2 bg-white rounded-lg shadow-md;
}

.radio-bar {
  @apply mx-1;
}

.card {
  @apply max-w-full flex my-4 bg-white rounded-lg shadow-md 
}

.react-tabs__tab-list {
  @apply flex border-b mt-2;
}

.react-tabs__tab {
  @apply mr-1 bg-white inline-block py-2 px-4 text-blue-500 font-semibold;
}
.react-tabs__tab:hover {
  @apply text-blue-800 ;
}
.react-tabs__tab--selected {
  @apply -mb-px mx-2 bg-white inline-block border-l border-t border-r rounded-t py-2 px-4 text-blue-700 font-semibold;
}

.react-tabs__tab-panel {
  @apply bg-white ;
}
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;
